<div class="row " (click)="open()">
    <div class="col-12 ">
        <mat-card class="box" style="min-height: 200px;">

            <mat-card-title *ngIf="event">{{event.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="event"> <b>deadline </b>{{event.deadline}}</mat-card-subtitle>



            <mat-selection-list #events [disabled]="!viewLogin" *ngIf="event && event.options">
            
                <mat-list-option (click)="vote(item.id)"  *ngFor="let item of event.options" style="padding: 10 px;">
                    <small>{{ item.start | date   }}</small>
                    {{ item.start | date : 'shortTime'  }} - {{ item.end | date : 'shortTime'  }}
                    <mat-divider></mat-divider>
                </mat-list-option>
           
            </mat-selection-list>
            <br>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar><br><br>
        </mat-card>
    </div>
</div>