<mat-card style="min-height: 200px;">
    <full-calendar #calendar [weekends]="false" [allDaySlot]="false" [minTime]="'08:00'" [maxTime]="'18:00'"
        [slotDuration]="'00:15:00'" [slotLabelFormat]="{
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: 'short',
                    hour12:false}" [header]=" { left: 'prev,next ,today',right: 'timeGridWeek,timeGridDay,listWeek' }"
        (select)="handleDateClick($event)" (eventClick)="eventClick($event)" selectable="true"
        defaultView="timeGridWeek" [plugins]="calendarPlugins"></full-calendar>

</mat-card>
