<div class="row ">
    <div class="col-12 ">
        <mat-card class="box">
            <mat-card-title>
                It shouldn’t take 30 emails to schedule a 30-minute meeting
            </mat-card-title>
            <mat-card-subtitle>
                We hope you’ve been enjoying our product so far. Have you created a poll and are curious to find out a little more about us? Did you vote on a date in someone else’s poll and now you’re digging a little deeper?

                You’ve managed to find yourself on a very important page!
                
                Legally-speaking, this is the set of rules that you have to agree to in order to use the product. You’ll find all the usual suspects here; limited-liability, jurisdiction, etc.
                
                Keep in mind that just by using Doodle, or logging in, you’re automatically agreeing to the following terms.
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>

<div class="row" style="cursor: pointer;" >

    


    <div class="col-lg-4 col-md-6  col-sm-12" 
    *ngFor="let item of eventService.eventType"
    
    [routerLink]="['/step']"  [queryParams]="{g:item.type}"  >
        <mat-card class="box">
            <mat-card-title>{{item.text }}</mat-card-title>
            <mat-card-subtitle>
                {{item.text }}
            </mat-card-subtitle>
            <img  mat-card-image [src]="item.img">	
        </mat-card>

    </div>
   


</div>

<!-- 
<div class="row ">
    <div class="col-12">
        <mat-card class="box">
            <app-begin-form></app-begin-form>
        </mat-card>
    </div>
</div> -->