<div>


    <mat-form-field hintLabel="One row one email" appearance="fill" class="fullwidth">

        <mwl-text-input-autocomplete-container>
            <textarea matInput placeholder="Type @ to search... " class="form-control" rows="14" (click)="update()"
                [(ngModel)]="formControlValue" mwlTextInputAutocomplete [findChoices]="findChoices"
                [getChoiceLabel]="getChoiceLabel">
    </textarea>
        </mwl-text-input-autocomplete-container>
    </mat-form-field>


 
  <mat-chip-list aria-label="Fish selection">
    <mat-chip 
    
    (click)="remove(item)"
    *ngFor="let item of clearArray">{{item}}</mat-chip>
   
  </mat-chip-list>
  <button 
  *ngIf="!doLogin"
  [disabled]="!eventService.calendarEvent ||eventService.calendarEvent.options == 0"
  mat-raised-button color="accent" class="box" (click)="save()" style="margin-top: 20px;">Save</button>


  <mat-progress-bar *ngIf="doLogin" mode="indeterminate"></mat-progress-bar><br><br>
</div>
